
#caroussel{
    width: 345px;
    overflow:hidden;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    padding: 50px;
    margin: 0 auto;
    -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -ms-transition: all 0.2s;
     -o-transition: all 0.2s;
     transition: all 0.2s;
     margin-bottom: 20px;
}

#caroussel:hover{
    transform:scale(1.3);
}

.images{
    display:flex;
    animation-duration: 17.5s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
    padding-bottom: 15px;
    
}


@keyframes mesImages{
    0%{
        transform:translateX(0px);
        
    }
    25%{
        transform:translateX(-365px);
    }
    50%{
        transform:translateX(-710px);
    }
    75%{
        transform:translateX(-1065px);
    }
    100%{
        transform:translateX(-30px);
    }
}
#oracle{
    margin-top: 20px;
    -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -ms-transition: all 0.2s;
     -o-transition: all 0.2s;
     transition: all 0.2s;
}
#oracle:hover{
    transform:scale(1.2);
}

.effect{
    -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -ms-transition: all 0.2s;
     -o-transition: all 0.2s;
     transition: all 0.2s;
}

.effect:hover{
    transform:scale(1.2);
}

